@model Blog.Models.ViewModels.ShowArticle


<h1>@Model.SelectedArticle.ArticleTitle</h1>
<div style="margin: 30px 0;">
    @foreach (Tag tag in Model.TagsAssociated)
    {
        <span style="padding:8px 5px; border-radius:4px; background: #@tag.TagColor">@tag.TagName</span>
    }
</div>
<a style="color:#ab2020; margin-right:20px; display:inline-block;" href="/ArticlePage/DeleteConfirm/@Model.SelectedArticle.ArticleId">Delete</a>
<a href="/ArticlePage/Edit/@Model.SelectedArticle.ArticleId">Edit</a>
<p>Num Comments: @Model.SelectedArticle.NumComments</p>
<p>@Model.SelectedArticle.ArticleBody</p>

<h2>Comments:</h2>
<div>
    <ul>
    @foreach(Comment comment in Model.CommentsWritten)
    {
        <li>@comment.CommentDesc</li>
    }
    </ul>
</div>