@model Blog.Models.Author
<h1>@Model.AuthorFName @Model.AuthorLName</h1>
<p><span style="font-style:italic">Joined: @Model.AuthorJoinDate.ToString("yyyy-M-d")</span></p>
<p><span style="font-style:italic">Articles Written: @Model.NumArticles</span></p>
<p>@Model.AuthorBio</p>